certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
flake8==6.0.0
idna==3.4
isort==5.12.0
mccabe==0.7.0
numpy==1.24.3
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PySoundFile==0.9.0.post1
pyTelegramBotAPI==4.10.0
python-dotenv==1.0.0
requests==2.28.2
soundfile==0.12.1
SpeechRecognition==3.10.0
urllib3==1.26.15
